<div>
    <h3 class="text-center">{{testName}}</h3>
    <p>Цель применения теста: выявление индивидуально-типологических различий на основе кон-структивного рисунка человека из геометрических фигур. </p>
    <p>Инструкция проведения теста. </p>
    <p>
        Возьмите карандаш (ручку) и бумагу. Нарисуйте фигуру чело-века, составленную из 8-15 элементов, среди которых могут быть треугольники (triangle), круги (circle), прямоугольники (rectangle). Подсчитайте полученное в изображении количество треуголь-ников, кругов, прямоугольников и отметьте полученный результат ниже. Если при рисовании Вы использовали фигур больше 15, то нужно зачеркнуть лишние или, если же Вами использовано фи-гур меньше, чем 8, необходимо дорисовать недостающие.
    </p>
    <form ng-submit="submitForm()"> 
        <table class="table table-striped">
            <tr>
                <th>Геометрические фигуры</th>
                <th>Количество</th>
            </tr>
            <tr ng-repeat="shape in shapes">
                <td>{{shape}}</td>
                <td><input type="number" ng-model="numShapes[$index]" min="0" required></td>
            </tr>
        </table>
        <div ng-show="!isValid" class="alert alert-danger animate-show" role="alert">Если при рисовании Вы использовали фигур больше 15, то нужно зачеркнуть лишние или, если же Вами использовано фи-гур меньше, чем 8, необходимо дорисовать недостающие</div>
        <button type="submit" class="btn btn-default center-block">Отправить данные</button>
    </form>
</div>